<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <%- include('../partials/msg'); %>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- home -->
    <main>
        <div class="jumbotron">
            <h1>Home</h1>
            <h5><%= empresa %></h5>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>