<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <%- include('../partials/msg'); %>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- home -->
    <main>
        <div class="jumbotron">
            <div>
                <h1>Home</h1>
                <h6><%= empresa %></h5>
            </div>
            <hr/>
            <div>
                <strong>Nome:</strong> <%= nome %> <br/>
                <strong>Chave:</strong> <%= senha %> <br/>
                <strong>Razao Social:</strong> <%= razao %> <br/>
                <strong>CNPJ:</strong> <%= cnpj %> <br/>
                <strong>IE:</strong> <%= ie %> <br/>
                <strong>Endereco:</strong> <%= endereco %> <br/>
                <strong>Numero:</strong> <%= numero %> <br/>
                <strong>Bairro:</strong> <%= bairro %> <br/>
                <strong>Cidade:</strong> <%= cidade %> <br/>
                <strong>CEP:</strong> <%= cep %> <br/>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>