<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<style>
    textarea {
        background-color: black;
        color: yellow;
    }
</style>
<body class="container">
  <%- include('../partials/msg'); %>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- posicaocargaresult -->
    <main>
        <div class="jumbotron">
            <h1>Posição de Carga</h1>
            <h5><%= empresa %></h5>

            <table class="table table-sm table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Conhecimento</th>
                    <th scope="col">Data</th>
                    <th scope="col">Remetente</th>
                    <th scope="col">Destinatario</th>
                    <th scope="col">NF</th>
                    <th scope="col">Trecho</th>
                  </tr>
                </thead>
                <tbody>
                  <% dados.forEach(function(i){ %>
                    
                      <tr>
                      <th class="th-sm" scope="row"><a href='/posicaocarga/ctrc?&dados=<%= JSON.stringify(i)%>'><%= i.CONHECIMENTO%></a></th>
                      <td class="td-sm"><%= i.DATA.substring(8,10)+'-'+i.DATA.substring(5,7)+'-'+i.DATA.substring(0,4) %></td>
                      <td class="td-sm"><%= i.REMETENTE.substring(0,30) %></td>
                      <td class="td-sm"><%= i.DESTINATARIO.substring(0,30) %></td>
                      <%if (i.NF) {%>
                        <td class="td-sm"><%= i.NF.substring(0,35) %> <%if (i.NF.length > 35) {%>...<% }%> </td>
                      <% } else { %>
                        <td class="td-sm">Não Informada!!!</td>
                      <% } %>
                      <td class="td-sm"><%= i.TRECHO%></td>
                    </tr>
                  <% })%>
                </tbody>
              </table>
              <div class="row">
                      <div class="col-3">
                          <a href="/posicaocarga" class="btn btn-large btn-block btn-info">Nova Pesquisa</a>
                      </div>
              </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>