<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <%- include('../partials/msg'); %>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- posicaocargaNF -->

    <main>
        <div class="jumbotron">
            <h1>Posição da Carga - Nota Fiscal</h1>
            <h5><%= empresa %></h5>

            <form action="/posicaocarganf" method="POST">
                <div class="form-group"> 
                    <div class="card-body">
                      
                        <div class="form-group row">
                            <label for="cnpj" class="col-md-4 col-form-label text-md-right">CNPJ</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" required id="cnpj" name="cnpj" value="<%= cnpj %>" placeholder="CNPJ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="num_nf" class="col-md-4 col-form-label text-md-right">Nota Fiscal</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" required id="num_nf" name="num_nf" value="<%= num_nf %>" placeholder="Numero da NF">
                            </div>
                        </div>

                    <div class="form-group row"></div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right"></label>
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-block btn-primary" value="Pesquisa">
                        </div>
                    </div>

                    </div>
                </div>
            </form>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>