<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <%- include('../partials/msg'); %>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- posicaocargactrc -->
    <main>
        <div class="jumbotron">

                <div class="row">
                    <div class="col-md-1">
                        <a href="javascript:history.back();javascript:history.back()"><<<</a>
                    </div>
                    <div class="col-md-11">
                        <h1>CTRC</h1>                    
                        <h5><%= empresa %></h5>
                    </div>
                </div>
                     
                <div class="row">
                            <label for="conhecimento" class="col-md-2 col-form-label text-md-right">Conhecimento</label>
                            <div class="col-md-3">
                                <input type="text" readonly class="form-control col-md-12" id="conhecimento" name="conhecimento" value="<%= CONHECIMENTO %>" placeholder="Conhecimento">
                            </div>    
                            <div class="col-md-2">
                                <a href="/posicaocargalistanf?cod_ctrc=<%= CONHECIMENTO %>">
                                    <input type="button" class="btn btn-block btn-success" value="Notas Fiscais">
                                </a>
                            </div>
                            <div class="col-md-5">
                                <input type="text" readonly class="form-control" id="NF" name="NF" value="<%= NF %>" placeholder="Não Informada!!!">
                            </div>
                </div>

                <div class="row">
                        <label for="remetente" class="col-md-2 col-form-label text-md-right">Remetente</label>
                        <div class="col-md-10">
                            <input type="text" readonly class="form-control" id="remetente" name="remetente" value="<%= REMETENTE %>" placeholder="Remetente">
                        </div>
                </div>

                <div class="row">
                    <label for="destinatario" class="col-md-2 col-form-label text-md-right">Destinatário</label>
                    <div class="col-md-10">
                        <input type="text" readonly class="form-control" id="destinatario" name="destinatario" value="<%= DESTINATARIO %>" placeholder="Destinatário">
                    </div>
                </div>

                <div class="row">
                    <label for="emitente" class="col-md-2 col-form-label text-md-right">Emitente</label>
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control" id="emitente" name="emitente" value="<%= EMITENTE %>" placeholder="Emitente">
                    </div>

                    <div class="col-md-2">
                        <label class="col-md-10 text-md-right">Trecho</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" readonly class="form-control" id="trecho" name="trecho" value="<%= TRECHO %>" placeholder="Trecho">
                    </div>
                </div>

                <div class="row">
                    <label for="chavecte" class="col-md-2 col-form-label text-md-right">Chave CT-e</label>
                    <div class="col-md-9">
                        <input type="text" readonly class="form-control" id="chavecte" name="chavecte" value="<%= CHAVECTE %>" placeholder="Chave CT-e">
                    </div>
                </div>

                <div class="row">
                    <label for="emissao" class="col-md-2 col-form-label text-md-right">Emissão</label>
                    <div class="col-md-10">
                        <input type="text" readonly class="form-control" id="emissao" name="emissao" value="<%= DATA %>" placeholder="Emissão">
                    </div>
                </div>

                <!-- DAE -->
                <div class="row">
                    <label for="DAE_CODIGO" class="col-md-2 col-form-label text-md-right">DAE</label>
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control" id="DAE_CODIGO" name="DAE_CODIGO" value="<%= DAE_CODIGO %>" placeholder="Não está no sistema">
                    </div>

                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="DAE_BAIXA" class="text-md-right">DAE Baixa</label>
                            </div>   
                            <div class="col-md-8">
                                <input type="text" readonly class="form-control" id="DAE_BAIXA" name="DAE_BAIXA" value="<%= DAE_BAIXA %>" placeholder="Em aberto no sistema">
                            </div>    
                        </div>
                    </div>

                </div>

                <!-- STATUS  -->
                <div class="row">
                    <label for="staus" class="col-md-2 col-form-label text-md-right">Status</label>
                    <div class="col-md-10">
                        <input type="text" readonly class="form-control" id="status" name="status" value="<%= STATUS %>" style="font-weight: bold;" placeholder="Status">
                    </div>
                </div>

                <div class="row">
                    <br>
                </div>

                <div class="row">
                    <div class="col-md-3">
                            <a href='<%= nova_pesquisa || "/posicaocarga" %>'>   
                                <input type="button" class="btn btn-block btn-info" value="Nova Pesquisa">
                            </a>
                    </div>
                    <div class="col-md-2">
                        <a href="/posicaocarga/download/dcte?value=<%= CONHECIMENTO %>">
                            <input type="button" class="btn btn-block btn-primary" value="DCTE">
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="/posicaocarga/download/xml?value=<%= CONHECIMENTO %>">
                            <input type="button" class="btn btn-block btn-primary" value="XML">
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="/posicaocarga/download/easydocs?value=<%= CONHECIMENTO %>">
                            <input type="button" class="btn btn-block btn-primary" value="Comprovante">
                        </a>    
                    </div>

                    <div class="col-md-3">
                        <%if (DAE_CODIGO) { %> 
                            <a target="_blank" rel="noopener noreferrer" href="http://www2.termaco.com.br/sicnovo/DAE/PDF/<%= DAE_IMPRESSO %>.PDF">
                               <input type="button" class="btn btn-block btn-primary" value="DAE">
                            </a>    
                        <% } else { %>
                            <a href="#" disabled >
                                <input type="button" disabled class="btn btn-block btn-primary" value="DAE">
                             </a>    
                         <% } %>
                    </div>

                </div>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        window.history.pushState("", "", "/posicaocarga/ctrc")
    </script>

</body>
</html>