<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <%- include('../partials/msg'); %>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- posicaocoberpfatura -->
    <main>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-1">
                    <a href="javascript:history.back();javascript:history.back()"><<<</a>
                </div>
                <div class="col-md-11">
                    <h1>Cobrança/Fatura</h1>                    
                    <h5><%= empresa %></h5>
                </div>
            </div>
                <!-- Linha 01 -->
                <div class="row">
                        <label for="E1_NUM" class="col-md-2 col-form-label text-md-right">Numero</label>
                        <div class="col-md-2">
                            <input type="text" readonly class="form-control" id="E1_NUM" name="E1_NUM" value="<%= E1_NUM %>" placeholder="Numero">
                        </div>

                        <label for="QUITADO" class="col-md-1 col-form-label text-md-right">Quitado</label>
                        <div class="col-md-2">
                            <input type="text" readonly class="form-control" id="QUITADO" name="QUITADO" value="<%= QUITADO %>" placeholder="Quitado">
                        </div>

                        <label for="E1_TIPO" class="col-md-1 col-form-label text-md-right">Tipo</label>
                        <div class="col-md-2">
                            <input type="text" readonly class="form-control" id="E1_TIPO" name="E1_TIPO" value="<%= E1_TIPO %>" placeholder="Tipo">
                        </div>
                </div>

                <!-- Linha 02 -->
                <div class="row">
                    <label for="EA_PORTADO" class="col-md-2 col-form-label text-md-right">Agente</label>
                    <div class="col-md-2">
                        <input type="text" readonly class="form-control" id="EA_PORTADO" name="EA_PORTADO" value="<%= EA_PORTADO %>" placeholder="Portador">
                    </div>

                    <label for="E1_NUMBCO" class="col-md-1 col-form-label text-md-right">Boleto</label>
                    <div class="col-md-2">
                        <input type="text" readonly class="form-control" id="E1_NUMBCO" name="E1_NUMBCO" value="<%= E1_NUMBCO %>" placeholder="Boleto">
                    </div>

                    <label for="E1_VALOR" class="col-md-1 col-form-label text-md-right">Valor</label>
                    <div class="col-md-2">
                        <input type="text" readonly class="form-control" id="E1_VALOR" name="E1_VALOR" value="<%= NumberToReais(E1_VALOR) %>" placeholder="Valor">
                    </div>
                </div>

                <!-- Linha 03 -->
                <div class="row">
                    <label for="E1_EMISSAO" class="col-md-2 col-form-label text-md-right">Emissão</label>
                    <div class="col-md-2">
                        <input type="text" readonly class="form-control" id="E1_EMISSAO" name="E1_EMISSAO" value="<%= ERPtoDT(E1_EMISSAO) %>" placeholder="Emissão">
                    </div>

                    <label for="E1_VENCTO" class="col-md-1 col-form-label text-md-right">Vencimento</label>
                    <div class="col-md-2">
                        <input type="text" readonly class="form-control" id="E1_VENCTO" name="E1_VENCTO" value="<%= ERPtoDT(E1_VENCTO) %>" placeholder="Vencimento">
                    </div>

                    <label for="E1_BAIXA" class="col-md-1 col-form-label text-md-right">Baixa</label>
                    <div class="col-md-2">
                        <input type="text" readonly class="form-control" id="E1_BAIXA" name="E1_BAIXA" value="<%= ERPtoDT(E1_BAIXA) %>" placeholder="Baixa">
                    </div>
                </div>

                <br>
                <br>

                <%if (resumo.QTDE) { %>
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-lg-center">Detalhamento (<%= resumo.QTDE %>) Itens</h5>
                    </div>
                </div>
                <% } %>

                <!-- GRID -->
                <table class="table table-sm table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">Série</th>
                        <th scope="col">CTRC</th>
                        <th scope="col">Data</th>
                        <th scope="col">Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        <% dados.forEach(function(i){ %>
                        
                        <tr>
                          <td class="td-sm"><%= i.EMPCODIGO %></td>
                          <td class="td-sm"><%= i.SERIE %></td>
                          <td class="td-sm"><%= i.CTRC %></td>
                          <td class="td-sm"><%= ERPtoDT(i.DATADOC) %></td>
                          <td class="td-sm"><%= NumberToReais(i.TOTFRETE) %></td>
                        </tr>

                        <% })%>
                  
                    </tbody>
                  </table>

                  <%if (mensagem) { %>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-sm-center">(<%= mensagem %>)</p>
                        </div>
                    </div>
                    <% } %>
        
                <div class="row">
                    <br>
                </div>

                <div class="row">
                    <div class="col-md-3">
                            <a href='/posicaocoberp'>   
                                <input type="button" class="btn btn-block btn-primary" value="Nova Pesquisa">
                            </a>
                    </div>
                    <div class="col-md-3">
                         <%if (QUITADO=='SIM') { %>
                            <input id="BTN_BOLETO" type="button" disabled class="btn btn-block btn-primary" onclick="geraBoleto();" value="BOLETO">
                         <% } else { %>  
                            <input id="BTN_BOLETO" type="button" class="btn btn-block btn-primary" onclick="geraBoleto();" value="BOLETO">
                         <% } %>  
                    </div>

                </div>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        function geraBoleto() {
            let urlx = decodeURIComponent('<%= encodeURIComponent(urlBoleto) %>')
            let newWindow = window.open( urlx ,"Buscando boleto no ERP","location=yes,height=500,width=500")
            if (newWindow) return false
        }
    </script>

    <script>
        window.history.pushState("", "", "/posicaocoberp/fatura")
    </script>

</body>
</html>
