<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
  <%- include('../partials/msg'); %>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- posicaocargaLoteList -->
    <main>
        <div class="jumbotron">

          <div class="row">

              <div class="col-md-8">
                <h1>Posição de Carga - Notas Fiscais</h1>
                <h5><%= empresa %></h5>
              </div>
              
              <div class="col-md-4">
                <div class="row">&nbsp;</div>
                <a href="/posicaocargalote" class="btn btn-large btn-block btn-info">Nova Pesquisa</a>
              </div> 

           </div>

        </div>

        <div class="container">
            <table class="table table-sm table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Conhecimento</th>
                    <th scope="col">Data</th>
                    <th scope="col">NF</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Vol</th>
                    <th scope="col">Chave NFe</th>
                    <th scope="col">Emitente</th>
                  </tr>
                </thead>
                <tbody>
                  <% dados.forEach(function(i){ %>
                    
                      <tr>
                      <th class="th-sm" scope="row"><a href='/posicaocargalotecrtc?&cod_ctrc=<%= i.DOCUMENTO  %>'><%= i.DOCUMENTO%></a></th>
                      <td class="td-sm"><%= i.DATA.substring(8,10)+'-'+i.DATA.substring(5,7)+'-'+i.DATA.substring(0,4) %></td>
                      <td class="td-sm"><%= i.NF.substring(0,35) %> <%if (i.NF.length > 35) {%>...<% }%> </td>
                      <td class="td-sm"><%= i.VALOR %></td>
                      <td class="td-sm"><%= i.VOLUME %></td>
                      <td class="td-sm"><a href='/statuscarga?NFE=<%= i.CHAVENFE %>''><%= i.CHAVENFE %></a></td>
                      <td class="td-sm"><%= i.EMITENTE_NFE %></td>
                    </tr>
                  <% })%>
                </tbody>
              </table>
        </div>
        
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>