<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <%- include('../partials/msg'); %>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- posicaocarga -->

    <main>
        <div class="jumbotron">
            <h1>Posição da Carga - Período </h1>
            <h5><%= empresa %></h5>

            <form action="/posicaocarga/lista" method="POST">
                <div class="form-group"> 
                    <div class="card-body">
                      
                     <div class="form-group row">
                            <label for="data_ini" class="col-md-4 col-form-label text-md-right">Data Inicial</label>
                            <div class="col-md-3">
                                <input type="date" class="form-control" required id="data_ini" name="data_ini" value="<%= data_ini %>" placeholder="Data Inicial">
                            </div>
                     </div>

                     <div class="form-group row">
                            <label for="data_fim" class="col-md-4 col-form-label text-md-right">Data Final</label>
                            <div class="col-md-3">
                                <input type="date" class="form-control" required id="data_fim" name="data_fim" value="<%= data_fim %>" placeholder="Data Final">
                            </div>
                    </div>

                    <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                
                                    <div class="form-check">
                                        <label class="form-check-label" for="radio1">
                                          <input type="radio" class="form-check-input" id="radio1" name="gera_excel" value="option1" checked>Simples Consulta
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="radio2">
                                          <input type="radio" class="form-check-input" id="radio2" name="gera_excel" value="option2">Gera arquivo (XLS) com lista de NFs
                                        </label>
                                    </div>    
                                    <div class="form-check">
                                        <label class="form-check-label" for="radio3">
                                          <input type="radio" class="form-check-input" id="radio3" name="gera_excel" value="option3">Gera arquivo (XSL) com lista de CTRCs
                                        </label>
                                    </div>

                                </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right"></label>
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-block btn-primary" value="Pesquisa">
                        </div>
                    </div>

                    </div>
                </div>
            </form>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>